{% extends "base.html" %}

{% block title %}Chat - MnemoLet{% endblock%}

{% block content %}
    <div class="flex h-full">
        <!-- left panel: sessions -->
        <aside class="w-64 h-full bg-white border-r flex flex-col">
            {% include "chat_sidebar.html" %}
        </aside>
    
        <!-- right panel: chat -->
        <main class="flex-1 flex flex-col">
            {% include "chat_main.html" %}
        </main>
    </div>
    <script src="{{ url_for('static', path='js/chat.js') }}" defer></script>
{% endblock %}
